# Enforce pnpm
engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false

# Prevent using other package managers
prefer-workspace-packages=true
public-hoist-pattern[]=*types*
shamefully-hoist=true

# Optional: You can also add these for better security
save-exact=true
save-prefix=''

# Optional: If you're using workspaces
link-workspace-packages=true